body {
    background-color: silver;
}

.sample {
    border: solid black 1px;
    height: 50px;
    background-color: sandybrown;
    margin:  10px;
}

#block-sample {
    display: block;
}

#inline-sample {
    display: inline;
    /* padding: 10px;  */  
}

#none-sample {
    display: none;
}

.block-elements {
    border: 1px solid rgb(38, 0, 255);
}

.inline-elements {
    border: 1px solid rgb(255, 0, 85);
}

#relative-sample {
    height: 50px;
    width: 50px;
    position: relative;
    top: 20px;
    left: 10px;
    background-color: green;
}
#absolute-sample {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    left: 30px;
    background-color: blue;
}
#fixed-sample {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 20px;
    left: 500px;
    background-color: black;
}
#static-sample {
    height: 50px;
    width: 50px;
    position: static;
    left: 100px;
    background-color:red;
}